

/* ############################################################################################*/



/* ===============================  F O O T E R  ==================================== */
.footer_section{

    margin: 0 auto;
}

/* ===============================  FIRST = F O O T E R  ==================================== */

.subscriber_head{

    background-color: #000000;
    /* display: flex; */
    display: grid;
    text-align: center;
    width: 100%;
    height: 70px;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-areas: 
    "head input subscribe";
    /* align-items: center;
    justify-content: center; */
    /* display: flex; */
    /* margin: auto; */
    
}

.subscriber_search_box{

    margin: auto;
    display: flex;
    width: 100%;
    grid-area: input;
}

.subscriber_search_bar{

    /* width: 450px; */
    /* display: block; */
    width: 100%;
    max-width: 100%;
    font-family: inherit;
   
    /* max-width: calc(100% - 50%); */
    color: #741674;

    font-weight: 500;
    border-radius:50px 0px 0px 50px;
    border: 0px;
    padding: 15px 0px 15px 20px;
  
    font-size: 14px;
    background: #F0F4EF;
   
   
 

   
  
}

.subscriber_head h1{
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    grid-area: head;
    text-align: right;
    margin-right: 10px;
  
}

.subscriber_button{
    border: 0px;
    width: 150px;
    max-width: 100%;
    font-size: 700;
    padding: 15px;
    font-size: 1rem;
    color: white;
    letter-spacing: 4px;
    grid-area: subscribe;
    font-family: sans-serif;
    background: #741674;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;

    font-weight: 500;
    border-radius: 0px 50px 50px 0px;
    outline: 0;
    transition: all 0.2s;

}

/* ===============================  FIRST = F O O T E R = ENDS ==================================== */




/* ===============================  MID = F O O T E R  ==================================== */
.subscriber_mid{

    background-color: #741674;
    width: 100%;
    /* height: 180px; */
    height: 200px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 0.7fr 0.01fr 1.6fr 0.01fr 1fr;
    grid-template-areas: 
    "first line second line2 last";
}


.first_para{

    margin-left: 10%;
    margin-bottom: auto;
    margin-top: auto;
    grid-area: first;
}

#footer_first_head{
    font-weight: lighter;
}

.vertical {
    border-left: 1px solid #0000004d;
    height: 156px;
    grid-area: line;
    margin-top: auto;
    margin-bottom: auto;
    /* position: absolute;
    left: 21%;
    bottom: -23%; */

}

.vertical2{
    border-left: 1px solid #0000004d;
    height: 156px;
    grid-area: line2;
    margin-top: auto;
    margin-bottom: auto;
    /* position: absolute;
    left: 21%;
    bottom: -23%; */

}

.middle_para{
    grid-area: second;
    display: flex;
}

.last_para{
    grid-area: last;
}

.footer_About{
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.footer_About_para{
    margin-top: 10%;
    margin-bottom: 10%;
}

.footer_About_head{

    color: black;
}

.footer_About_links{

    font-weight: lighter;
    color: black;
}











.last_para{
    margin-top: auto;
    margin-bottom: auto;
}

.footer_form_mid{

    margin-top: 3%;
    display: flex;
    width: 100%;
}

.footer_mid_subscribe_bar{

  /* width: 450px; */
    /* display: block; */
    width: 100%;
    max-width: 100%;
    font-family: inherit;
   
    /* max-width: calc(100% - 50%); */
    color: #435978;

    font-weight: 500;
    border-radius:50px 0px 0px 50px;
    border: 0px;
    padding: 15px 0px 15px 20px;
  
    font-size: 14px;
    background: #F0F4EF;
   


}
.footer_mid_subscriber_button{
    border: 0px;
    /* width: 150px; */
    width: 100px;
    max-width: 100%;
    font-size: 700;
    padding: 13px;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    grid-area: subscribe;
    font-family: sans-serif;
    background: #2cb95b;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 1%; */
    margin-right: 2%;
    font-weight: 500;
    border-radius: 0px 50px 50px 0px;
    outline: 0;
    transition: all 0.2s;


}

.subscriber_button:hover{

    background: rgb(0, 140, 255);


}

.footer_mid_subscriber_button:hover{

    background: rgb(0, 140, 255);
}

.footer_mid_icons{
    margin: 2%;
    /* margin-left: 2%; */

}

.footer_mid_icons_inner:hover{

    color: #006aff;
}

.quick_signup{
    font-size: 1.4rem;
    font-weight: lighter;
}

.footer_last{
    margin-bottom: 4%;
}


.footer_mid_icons_inner{

    font-size: 2rem;
    color: blue;
    /* border: 1px solid blue; */
}

.icon_section{
    /* you can either set it to flex or block */
    display: block;

    margin-left: 15%;
}



/* ====================================== MID = F O O T E R  ENDS ======================================= */





/* ====================================== LAST = F O O T E R  STARTS ======================================= */
.subscriber_last{
    background-color: #0048ac;
    height: 70px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 2fr 0.01fr 3fr 1fr;
    grid-template-areas: 
    "logo line3 mid-section copyright";
     
}


.footer_logo_last{
 
    text-align: end;
    margin-top: auto;
    margin-bottom: auto;
}

.vertical3{
    border-left: 1px solid #0000004d;
    height: 15px;
    grid-area: line3;
    margin-top: auto;
    margin-bottom: auto;
}

.footer_last_mid_para{

margin-top: auto;
margin-bottom: auto;

}

#unleash{

    color: white;
    font-weight: lighter;

}

.copyright2{

    color: white;
    font-size: 0.7rem;
    font-weight: lighter;
}

.footer_last_last_para{

    margin-top: auto;
    margin-bottom: auto;
}

/* ====================================== LAST = F O O T E R  ENDS ======================================= */

/* -----------------------------MEDIA QUERIES----------------------------- */

@media only screen and (max-width: 992px) {

    .subscriber_head{
    
        grid-template-columns: 0.5fr 2.5fr 0.5fr;
    }
    #free_daily_updates{
        display: none;
    }

    .quick_signup{
    display: none;

    }
    
    
    
    
}


@media only screen and (max-width: 768px) {

    .subscriber_head{
    
        grid-template-columns: 0.1fr 1fr 0.1fr;
    }

    .subscriber_mid{
        grid-template-columns:1fr;
        /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
        grid-template-rows: 0.9fr 0.01fr 0.9fr 0.01fr 0.9fr;
        grid-template-areas:
        "first"
        "horizontal"
        "second"
        "horizontal2"
        "last";
        height: 100%;
        grid-gap: 0px;
    }



    .first_para{
        margin-left: 3%;
    }

    .middle_para{
        flex-wrap: wrap;
    }
    
    .last_para{
        text-align: center;
    }
    
    .footer_mid_subscriber_button{
        margin-right: 0;
    }

    .vertical{
        display: none;
    }


    .vertical2{
        display: none;
        
    }

    .vertical3{
        display: none;
    }

    .horizontal{
        border-bottom: 1px solid #0000004d;
        grid-area: horizontal;
    }
    
    .horizontal2{
        border-bottom: 1px solid #0000004d;
        grid-area: horizontal2;

        
    }

    .contacts h4{
        text-align: left;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .contacts{

        margin-top: 3%;
        margin-bottom: 3%;
    }

    .icon_section{
        margin-left: 0%;
        justify-content: center;
    }

    .footer_mid_icons_inner{
        font-size: 3rem;
    }

    .subscriber_last{
        display: block;
        width: 100%;
        height: 100%;
        padding: 1%;
    }

    .footer_logo_last{
        text-align: center;
    }

    .footer_last_mid_para{
        text-align: center;
    }

    .footer_last_last_para{
        text-align: center;
    }

    .footer_last{
        margin: 0;
    }


}



@media only screen and (max-width: 576px) {

    .subscriber_head{
    
        grid-template-columns: 0.1fr 1fr 0.1fr;
    }

    .subscriber_mid{
        grid-template-columns:1fr;
        /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
        grid-template-rows: 0.5fr 0.01fr 0.5fr 0.01fr 0.5fr;
        grid-template-areas:
        "first"
        "horizontal"
        "second"
        "horizontal2"
        "last";
        height: 100%;
        grid-gap: 0px;
    }


    .horizontal{
        border-bottom: 1px solid #0000004d; 
        grid-area: horizontal;

   
    }
    
    .horizontal2{
       border-bottom: 1px solid #0000004d;       
       grid-area: horizontal2;

    }


    .middle_para{
        text-align: left;
    }

    .footer_About{


        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8.4%;
        margin-right: 8.4%;
    }

    .footer_About_head{

        font-size: 1.4rem;
    }

    .footer_About_links{

        font-size: 1.6rem;  
    }


    #footer_first_head{

        font-size: 2rem;
    }


    .footer_para h5{

        font-size: 1.2rem;
    }





}


@media only screen and (max-width: 502px) {



 .subscriber_mid{

    grid-template-rows: 0.9fr 0.01fr 2.5fr 0.01fr 0.3fr;
 }




}
